@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css');
@font-face {font-family: 'Westway'; src: url('https://hubgames.studio/ressources/Westway.ttf') format('truetype'); font-weight: normal; font-style: normal;}
@media screen and (max-width: 390px) {#affiche390 {display: none;}}
@media screen and (min-width: 391px) {#affiche-390{display: none} #affiche390 {display: block;}}
@media screen and (max-width: 625px) {#affiche625 {display: none;}}
@media screen and (min-width: 626px) {#affiche-625{display: none} #affiche625 {display: block;}}

html {
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.job-listing {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
}

.job-title {
    font-size: 24px;
    margin: 0;
}

.job-description {
    font-size: 16px;
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 999;
    transtion: display 2s;
}

#loader-spinner {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Ajoutez une classe pour la barre de progression */
.progress-bar {
    height: 4px;
    width: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Couleur de la barre de progression */
    transition: width 0.5s linear; /* Animation de la barre de progression */
    position: absolute; /* Positionnement absolu pour pouvoir déplacer la barre */
    bottom: 0; /* Aligner la barre au bas */
    left: 0; /* Aligner la barre à gauche */
    right: 0; /* Aligner la barre à droite */
    border-radius: 0px 0px 5px 5px;
}   
/* Ajoutez une classe pour l'animation de sortie */
.notification-hide {
    animation-name: fadeOutAndBack; /* Nom de l'animation */
    animation-duration: 0.5s; /* Durée de l'animation */
    animation-fill-mode: forwards; /* Conserver l'état final de l'animation */
  }
  
  /* Définition de l'animation de sortie */
  @keyframes fadeOutAndBack {
    0% {
      opacity: 1;
      transform: translateZ(0);
    }
    70% {
      opacity: 0.3; /* Opacité réduite pendant la transition */
      transform: scale(0.9); /* Rétrécissement avant de reculer */
    }
    100% {
      opacity: 0; /* Opacité à 0 à la fin de l'animation */
      transform: scale(0.5) translateZ(-100px); /* Recul et rétrécissement */
    }
  }
  